/* #img{
    transition: transform .5s;
}
#img:hover {
    transform: scale(2.0);
  } */
  .img {
    overflow: hidden;
  }
  .img img{
    transition: transform .5s ease;
  }
  .img:hover img{
    transform: scale(1.5);
  }